<ion-header>
  <ion-navbar>
    <ion-title><ion-icon name="film" class="title-icon"></ion-icon> Movies</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="movieTitle"
    [showCancelButton]="showCancelButton"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-card *ngFor="let movie of movies" (click)='showMovieDetail($event, movie)' class="search-movie-card">
    <img *ngIf="movie.Poster != 'N/A'; else noImage" src="{{movie.Poster}}"/>
    <ng-template #noImage>
      <img src="assets/imgs/logo.png"/>
    </ng-template>
    <div class="card-bottom">
      <div class="card-bottom-title">{{movie.Title}}</div>
    </div>
  </ion-card>
</ion-content>
