<ion-header>
  <ion-navbar>
    <ion-title>Movies</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="movieTitle"
    [showCancelButton]="showCancelButton"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-card *ngFor="let movie of movies" (click)='onClickFuntion($event, movie)'>
    <img *ngIf="movie.Poster != 'N/A'; else noImage" src="{{movie.Poster}}"/>
    <ng-template #noImage>
      <img src="assets/imgs/logo.png"/>
    </ng-template>
    <div class="card-title">{{movie.Title}}</div>
    <div class="card-subtitle">{{movie.Title}}</div>
  </ion-card>
</ion-content>
