<ion-header>
  <ion-navbar>
    <ion-title><ion-icon name="videocam" class="title-icon"></ion-icon> Series</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="serieTitle"
    [showCancelButton]="showCancelButton"
    (ionInput)="onInput($event)">
  </ion-searchbar>
  <ion-card *ngFor="let serie of series" (click)='showSerieDetail($event, serie)'>
    <img *ngIf="serie.Poster != 'N/A'; else noImage" src="{{serie.Poster}}"/>
    <ng-template #noImage>
      <img src="assets/imgs/logo.png"/>
    </ng-template>
    <div class="card-bottom">
      <div class="card-bottom-title">{{serie.Title}}</div>
    </div>
  </ion-card>
</ion-content>
