page-favorite {
    .favorite-btn-color {
        background-color: #795548;
    }
    
    .favorite-btn-color:hover {
        background-color: #455A64 !important;
    }
    
    .card-bottom {
        width: 100%;
        height: 5%;
        position: absolute;  
        background-color: hsla(0, 0%, 0%, 0.33);
        top: 95%;
      }
      
    .card-bottom-title {
        position: absolute;
        top: 20%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    
    .title-icon {
        vertical-align: bottom;
    }
}